.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mid-area {
  display: flex;
  justify-content: center;
}
  
.edit-select {
  margin: 20px 20px 0 10px;
}

.canvas-title {
  display: block;
  width: 100%;
}

.canvas-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 600px;
  width: 700px;
  margin: 20px 0;
  border: 5px solid grey;
}

.space {
  display: flex;
  position: relative;
  width: 180px;
  height: 150px;
  margin-right: 5px;
  margin-left: 6px;
  border: 2px dotted black;
}

.circle-shape {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}

.triangle-shape {
  height: 50px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 70px solid red;
  margin-left: auto;
  margin-right: auto;
}

.square-shape {
  width: 120px;
  height: 120px;
  background-color: yellowgreen;
  margin-left: auto;
  margin-right: auto;
}

.history-buttons {
  margin: 20px 0;
}

.history-button {
  height: 40px;
  width: 80px;
  font-size: 1.25em;
  margin-left: 10px;
  margin-right: 10px;
}

.save-load-buttons {
  margin: 20px 0;
}

.sl-button {
  height: 40px;
  width: 80px;
  font-size: 1.25em;
  margin-left: 10px;
  margin-right: 10px;
}

.change-shape {
  position: absolute;
  right: 10px;
  top: 5px;
  height: 20px;
  width: 30px;
}

.shape-container {
  list-style-type: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}